/* Add component-specific styles here */
mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}

.error-snackbar {
  background-color: #f44336; /* Red background for error snackbar */
  color: white;
}